body {
  height: auto;
  background-color: #42a4f5;
  font-family: sans-serif;
  padding: 10px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.hall {
  overflow: auto;
  position: relative;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.4);
  padding: 10px;
  min-height: 220px;
  width: 90%;
  -webkit-transition: width 1s, height 1s; /* Safari prior 6.1 */
  transition: width 1s, height 1s;
}

.hall h2{
  position: relative;
}

.hall p {
  font-size: 20px;
}

.hall img {
  margin-right: 20px;
  float: left;
  width: 300px;
  height: 200px;
  -webkit-transition: width 1s, height 1s; /* Safari prior 6.1 */
  transition: width 1s, height 1s;
}

img {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 678px) {
  .hall img:hover {
  width: 600px;
  height: 400px;
  }
}

@media screen and (max-width: 678px) {
  body {
    width: 100%;
    padding: 0;
  }
  .sidebar {
    margin-top: 0px;
    margin-right: 0px;
    display: none !important;
  }
  .main {
    padding: 0;
    width: 100%;
  }
  .hall {
    width: 100%;
  }
  .mobilebar img {
    width: 45px;
    height: 45px;
  }
  .mobile {
    width: 45px !important;
    height: 45px !important;
    background: rgba(255, 255, 255, 0.6) !important;
    display: inherit !important;
  }
  .mobilebar {
    padding: 5px;
    display: inherit !important;
  }
}

.main,
.sidebar {
  border-radius: 10px;
  padding: 10px;
}

.main {
  width: 80%;
  padding: 20px 20px 20px 20px;
}

.sidebar,
.mobilebar {
  right: 0;
  margin-top: 20px;
  margin-right: 10px;
  font-size: 10px;
  line-height: 1.6;
  text-align: center;
  background: rgba(255, 255, 255, 0);
  position: -webkit-sticky;
  position: sticky;
  position: fixed;
  top: 10px;
  width: 15%;
  height: 25vh;
}

.button {
	display: block;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 0;
  overflow: hidden;
  position: relative;
  transform: translatez(0);
  text-decoration: none;
  box-sizing: border-box;
  font-size: 20px;
	font-weight: normal;
}

.bmenu {
  box-shadow: 0 9px 18px rgba(0,0,0,0.2);
	text-align: center;
	border-radius: 50px;
  padding: 10px;
  color: white;
  background: #42b3f5;
  transition: all 0.2s ease-out 0s;
}

.cont {
  float: right;
  max-width: 150px;
  font-size: 15px;
	text-align: center;
	border-radius: 50px;
  width: 30%;
  padding: 10px;
  color: white;
  background: #42b3f5;
  transition: all 0.2s ease-out 0s;
}

.mobile {
  float: right;
  margin-right: -10px;
  max-width: 50px;
  font-size: 15px;
  text-align: center;
  border-radius: 50px;
  width: 30%;
  /* padding: 10px; */
  color: white;
  background: #42b3f5;
  transition: all 0.2s ease-out 0s;
}

.mobile,
.mobilebar {
  display: none;
}

.button:hover {
  background: rgba(16, 97, 163, 0.3);
}
